.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--home {
  background-color: var(--color-primary);
  background: linear-gradient(165deg, var(--color-primary-dark) 0%, var(--color-primary) 46%, var(--color-primary-light) 100%);
}

.header__content {
  flex: 0 1 var(--grid-max-width);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .header {
    height: var(--header-height-mobile);
    justify-content: flex-start;
    padding: 0 1em;
  }
  .header__logo {
    max-width: 70%;
  }
}
