.header {
  background-color: var(--color-primary);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  flex: 0 1 var(--grid-max-width);
}
