.posts-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: var(--space-5);
}

.post-teaser {
  border: 3px solid var(--color-primary);
  padding: var(--space-5);
}
